.air-date{
    color:lightgrey;
    font-style:italic;
}

section{
    padding:150px 0;
}

.search-submit{
    opacity: 0;
    position: absolute;
    height: 35px;
    width: 45px;
    top: -10px;
    left: -17px;
}

.keyword-found{
    font-weight: bolder;
    background-color:lightgreen;
}

.tvshow{
    margin: 30px 0;
}

.sort-filters{
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    align-items: center;
}

.sorted{
    text-decoration: underline;
}

.alert-custom{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.alert-custom i{
    margin-right: 20px;
}