{% extends 'AppBundle::layout.html.twig' %}


{% block contents %}
    <section>
        <div class="container">
            <h2>Résultats des recherches</h2>
            {{ dump(shows) }}
        </div>
    </section>
{% endblock %}